# Build directories
**/build/
**/.cmake/
**/sdkconfig
**/sdkconfig.old
**/compile_commands.json

# Build artifacts
dist/

# IDE files
**/.vscode/
**/.idea/
**/*.swp
**/*.swo

# System files
.DS_Store
Thumbs.db

# ESP-IDF specific
**/managed_components/
**/dependencies.lock
**/flash_app_args
**/flash_project_args
**/config/sdkconfig.json

# App
*.bak
.clangd
**/.cache/
*.log
**/secrets.h
**/secrets.hpp

#tests
**/__pycache__/
*.pyc