# .github/workflows/build.yml
name: ESP-IDF Build

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    container: espressif/idf:release-v5.5

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Build example
        shell: bash
        working-directory: examples/basic_usage
        run: |
          . $IDF_PATH/export.sh
          idf.py build
